.App {
  text-align: center;
}

.App-header {
  background-color: #8795b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.crewMember {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(82, 159, 133);
  padding: 15px;
  border-radius: 15px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nameInput {
  height: 20px;
}

.nameText {
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.rateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rateInput {
  height: 20px;
}

.rateText {
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

h3 {
  font-size: .75em;
}

.submitBtn {
  margin-left: 25px;
  height: 75%;
}

.tooLowText {
 color: rgb(243, 140, 67);
 text-decoration: solid;
 font-size: 20px;
 padding-right: 15px;
 padding-left: 15px;
}

table {
  border-style: solid;
}

tr {
  border-style: solid;
}